# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.log
*.tmp

# Generated PDFs
*.pdf

# Python cache
.pytest_cache/